.App {
  margin-top: 20px;
}

.App footer {
  font-size: 12px;
  margin-top: 15px;
}

.App footer a {
  text-decoration: none;
}

.Weather-App {
  border: 1px solid gray;
  padding: 20px;
  max-width: 620px;
  border-radius: 10px;
}

.Weather-App a {
  margin: 10px;
  text-decoration: none;
}
